@tailwind base;
@tailwind components;
@tailwind utilities;

.bible-texture {
  background-color: #F9F9F7;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCzQv121HfWXAt7MpKDKZgUiDNAFiSQP_cXW0II1uFG20QPNqrqpFUzlq3jl97IfxTQEIgMEJhhQMKp3Xqr1W6k6cPmmjMWBiXH08fvYatrHWP0YSTHQBpWU05lUu3IK0N7oJKv9Hk74Mt2lfbQCuTEk49rRWkN2DiEbtWtDYI_hNIzeneBfPa-mMrdp9fCEzDzGy557FgzvJDKD5St8rQ2SAf7na7f2EXrt_pgoYshX9oetdjLhm42cVpdY7mCBdOmxe5I6n-UQZ8), linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(240, 235, 220, 0.2));
  background-blend-mode: multiply;
}
.dark .bible-texture {
  background-color: #1a1810;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDkfpZqmjgdOq_xMI9V_HfikhfIYb0_LgPWieLcAo9-PgMxgSla02w7Nb8p5jCpOhrN-hdHjmMa_4MQMZ2K1rKrtdYs1Ph-Uh7SsKMXKYbs0QilNy7CgDkmqWS1Z3OYv2CaPW2RLMPLblxUMCEH-_19sYisV6qPB4cEQ2F0CYLvBqjlh0oD8J9Vv8C35YfhyY-Aaxd3yPWxCn2F3y6WNRZJfEO0CtzX97r7gHsjdKELw_rtq0tiHR5AlIiJN95-SMuttn4SD7GZdyo);
  background-blend-mode: overlay;
}
.keep-all {
  word-break: keep-all;
  word-wrap: break-word;
}
.animation-delay-200 {
  animation-delay: 200ms;
}
.animation-delay-400 {
  animation-delay: 400ms;
}
.animation-delay-600 {
  animation-delay: 600ms;
}

/* Custom Scrollbar for Chat */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}
